* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #b1e1ff;
    color: #808080;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#counter {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin: 0 .5rem;
}

.btn {
    width: 15%;
    font-size: 2rem;
    font-weight: 800;
    border: 2px solid #f08080;
    background-color: #f1d6d6;
    color: #f08080;
    border-radius: 60%;
    padding: 1rem 0;
    transition: .7s;
}

.btn:hover{
    background-color: #f08080;
    color: #f1d6d6;
    cursor: pointer;
}

.buttons {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: .5rem;
}

